<div>
  <h2 class="text-center">Product Details</h2>
  <div class="row">
    <div class="col-6">
      <dl>
        <dt class="text-dark">Title</dt>
        <dd>{{ product.title }}</dd>
        <dt>Price</dt>
        <dd>{{ product.price }}</dd>
        <dt>Rating</dt>
        <dd><span class="bi bi-star-fill"></span>{{ product.rating.rate }}</dd>
        <dd>
          <a routerLink="more/{{ product.id }}">More</a>
        </dd>
      </dl>
    </div>
    <div class="col-6">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>

<a routerLink="/home">Back to Products</a>
