<!-- <div class="container-fluid g-0">
  <div class="input-group">
    <div>
      <label for="" class="form-label">style-1</label>
      <input
        class="form-check"
        ngModel
        #style1="ngModel"
        type="checkbox"
        name=""
        id=""
      />
    </div>
    <label for="" class="form-label">style-2</label>
    <input
      class="form-check"
      ngModel
      #style2="ngModel"
      type="checkbox"
      name=""
      id=""
    />
    <label for="" class="form-label">style-3</label>

    <input
      class="form-check"
      ngModel
      #style3="ngModel"
      type="checkbox"
      name=""
      id=""
    />
  </div>
  <h1 [ngClass]="'bg-style'">hello</h1>
  <h1
    [ngClass]="{
      'border-style ': style1.value,
      'bg-style': style2.value,
      'text-style': style3.value
    }"
  >
    hello
  </h1>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
  <div>
    <div class="form-switch">
      <input
        type="checkbox"
        ngModel
        #darkModel="ngModel"
        class="form-check-input"
      />
      <label>change</label>
    </div>

    <form
      class="border p-2 border-1"
      [ngClass]="{ 'bg-dark': darkModel.value }"
    >
      <h2><span class="bi bi-person-fill"></span>User Login</h2>
      <dl>
        <dt>User Name</dt>
        <dd></dd>
        <input class="form-control" type="text" />
        <dt>Password</dt>
        <dd>
          <input type="password" class="form-control" name="" id="" />
        </dd>
      </dl>
      <button class="btn btn-dark text-white w-100">submit</button>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <dl>
        <dt>UserName</dt>
        <dd>
          <input
            type="text"
            name=""
            ngModel
            #value="ngModel"
            class="form-control"
            required="true"
            minlength="4"
            [ngClass]="{ 'border-color': value.invalid }"
            id=""
          />
        </dd>
        <dt>Password</dt>
        <dd>
          <input
            type="password"
            ngModel
            #password="ngModel"
            required
            minlength="6"
            [ngClass]="{ 'border-color': password.invalid }"
            class="form-control"
            name=""
            id=""
          />
        </dd>
      </dl>
    </div>
  </div>
</div> -->

<div
  class="container-fluid d-flex flex-column justify-content-center align-content-center"
>
  <div class="row-cols-6">
    <h3>Select styles</h3>
    <dl>
      <dt>BackGround</dt>
      <dd>
        <select class="form-select" name="" id="" [(ngModel)]="bgStyle">
          <option value="red">red</option>
          <option value="green">green</option>
          <option value="blue">blue</option>
          <option value="yellow">yellow</option>
        </select>
      </dd>
      <dt>Text Color</dt>
      <dd>
        <select class="form-select" name="" id="" [(ngModel)]="textStyle">
          <option value="red">red</option>
          <option value="black">black</option>
          <option value="white">white</option>
          <option value="yellow">yellow</option>
        </select>
      </dd>
      <dt>Padding</dt>
      <dd>
        <span>
          1px
          <input
            type="range"
            name=""
            value="10"
            min="1"
            max="50"
            class="form-range"
            id=""
            [(ngModel)]="padding"
          />
          50px</span
        >
      </dd>
      <dt>FontSize</dt>
      <dd>
        <input
          (change)="fontSizes()"
          [(ngModel)]="fontSize"
          type="range"
          class="form-range"
          min="10"
          max="50"
        />
      </dd>
      <dd>
        <button class="btn btn-secondary" (click)="applyClick()">
          apply styles
        </button>
      </dd>
    </dl>
  </div>
  <div class="row-cols-2 mt-3">
    <h1 [ngStyle]="styleObject">Welcome to Angular</h1>
  </div>
</div>
