input.ng-invalid,
select.ng-invalid {
  border: 1px solid red;
  box-shadow: 2px 2px 2px rgb(234, 129, 129);
}
input.ng-valid {
  border: 1px solid green;
  box-shadow: 2px 2px 2px rgb(40, 167, 83);
}
