<div class="container-fluid">
  <h2>Without Lazy Loading</h2>
  <div
    class="overflow-auto"
    style="height: 300px; border: 1px solid black; padding: 5px; width: 250px"
  >
    <div *ngFor="let item of Products">
      <img [src]="item.image" width="150" height="150" alt="" />
    </div>
  </div>
  <h2>With Lazy Loading</h2>
  <cdk-virtual-scroll-viewport
    itemSize="100"
    class="overflow-auto"
    style="height: 300px; border: 1px solid black; padding: 5px; width: 250px"
  >
    <div *cdkVirtualFor="let item of Products">
      <img [src]="item.image" width="150" height="150" alt="" />
    </div>
  </cdk-virtual-scroll-viewport>
</div>
