<div class="container-fluid">
  <h2>Product Register</h2>
  <!-- <form [formGroup]="frmRegister">
    <dl>
      <dt>UserName</dt>
      <dd><input type="text" formControlName="UserName" /></dd>
      <dt>Age</dt>
      <dd><input type="number" name="" id="" formControlName="Age" /></dd>
      <dt>Mobile</dt>
      <dd><input type="text" name="" id="" formControlName="Mobile" /></dd>
    </dl>
    <button type="submit">Register</button>
  </form> -->
  <form [formGroup]="formRegister" (submit)="submitClick(formRegister.value)">
    <dl>
      <dt>UserName</dt>
      <dd><input type="text" formControlName="username" /></dd>
      <dt>Age</dt>
      <dd><input type="text" formControlName="age" /></dd>
      <div formGroupName="formVendor">
        <dt>VenderName</dt>
        <dd><input type="text" formControlName="vendorName" /></dd>
        <dt>VenderRating</dt>
        <dd><input type="text" formControlName="vendorRating" /></dd>
      </div>
    </dl>
    <div>
      <h3>Upload Photos</h3>
      <div>
        <button class="btn btn-link" type="button" (click)="addInput()">
          addInput
        </button>
      </div>
      <div
        class="mt-1 mb-1"
        *ngFor="let files of Photos.controls; let i = index"
      >
        <input type="file" formControlName="i" />
        <button type="button" class="bi bi-trash" (click)="removeInput(i)">
          delete
        </button>
      </div>
    </div>
    <span>
      <button>register</button>
      <button type="button" (click)="UpdateClick($event)">Update</button>
    </span>
  </form>
</div>
