<!-- <div class="container-fluid">
  <div class="mt-3 w-50">
    <div>
      {{ messagePipe | sentence }}
    </div>

    <h2>Plural Demo</h2>
    <div class="mb-3 input-group">
      <input type="text" [(ngModel)]="InputMessage" class="form-control" />
      <button class="btn btn-primary" (click)="sendClick()">
        <span class="bi-send"></span> send
      </button>
    </div>
    <button class="btn btn-primary position-relative" (click)="openMessages()">
      <span class="bi bi-bell"></span>
      {{ Message.length | i18nPlural : NotificationMap }}
      <span class="badge bg-dark rounded rounded-circle position-absolute"
        >{{ Count }}
      </span>
    </button>
    <div class="mt-3" *ngIf="showMessages">
      <ul class="list-unstyled">
        <h3>Your Messages</h3>
        <li *ngFor="let item of Message">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="h2">Product Details</div>
    <dl>
      <dt>Name</dt>
      <dd>{{ product.Name | titlecase }}</dd>
      <dt>Price</dt>
      <dd>{{ product.Price | currency }}</dd>
      <dt>Date</dt>
      <dd>{{ product.Mfd | date : "dd-MM-yy" }}</dd>
      <dt>Percentage</dt>
      <dd>{{ product.Rate | percent : "2.2" }}</dd>
    </dl>
  </div>
  <div class="mt-2">
    {{ product | json }}
  </div>
  <div class="mt-2">
    <div *ngFor="let item of categories | slice : 0 : 2">
      <div>{{ item | slice : 0 : 5 }}</div>
    </div>
  </div>
  <div class="mt-2">
    <div *ngFor="let item of categories | keyvalue">
      {{ item.key }} - {{ item.value }}
    </div>
  </div>

  <div class="mt-2">
    <h2>Your Cart</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Delivery Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of delivery">
          <td>{{ product.product }}</td>
          <td>{{ product.city }}</td>
          <td>{{ product.city | i18nSelect : status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div class="container-fluid">
  <ol class="list-unstyled">
    <li *ngFor="let item of Cities | sortingPipe : false">
      <p>{{ item }}</p>
    </li>
  </ol>
</div>
