.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

form {
  border: 1px solid gray;
  box-shadow: 2px 2px 3px gray;
  padding: 20px;
  border-radius: 20px;
}
