<div class="container-fluid">
  <header class="d-flex justify-content-between p-2 align-items-center">
    <div>
      <h1>Shopper.</h1>
    </div>
    <nav>
      <button class="btn" (click)="Onchange('all')">Home</button>
      <button class="btn" (click)="Onchange('electronics')">Electronics</button>
      <button class="btn" (click)="Onchange('mens fashion')">
        Men's Fashion
      </button>
      <button class="btn">Women's Fashion</button>
      <button class="btn">Jewelery</button>
    </nav>
    <div>
      <button class="btn">
        <span class="bi bi-search fw-bold"></span>
      </button>
      <button class="btn">
        <span class="bi bi-heart"></span>
      </button>
      <button class="btn">
        <span class="bi bi-person"></span>
      </button>
      <button class="btn position-relative" (click)="Toggle()">
        <span class="bi bi-cart"></span>
        <span class="badge bg-danger rounded-circle position-absolute"
          >{{ CartItemsCount }}
        </span>
      </button>
    </div>
  </header>
  <div class="bg-black p-2 text-white text-center">
    <span class="bi bi-star-fill pe-2"></span>
    HAPPY HOLIDAY DEALS ON EVERYTHING
    <span class="bi bi-star-fill ps-2"></span>
  </div>
  <section class="mt-2 row">
    <nav class="col-2">
      <div>
        <label class="form-label fs-2 fw-bold">select</label>
        <select
          (change)="Onchange(categories.value)"
          ngModel
          #categories
          class="form-select"
        >
          <option *ngFor="let items of Categories" [value]="items">
            {{ items | uppercase }}
          </option>
        </select>
      </div>

      <div class="mt-3" *ngIf="isCartVisible">
        <table class="table table-secondary table-hover">
          <thead>
            <tr>
              <td>Title</td>
              <td>Preview</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cart of CartItems; let i = index">
              <td>{{ cart.title }}</td>
              <td>
                <img
                  [src]="cart.image"
                  width="50"
                  height="50"
                  class="img-fluid"
                  alt=""
                />
              </td>
              <td>
                <button class="btn btn-danger" (click)="RemoveItem(i)">
                  <span class="bi bi-trash-fill text-white"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nav>
    <main class="col-10 d-flex flex-wrap overflow-auto" style="height: 80vh">
      <div
        *ngFor="let product of Products"
        class="card p-2 m-2 img-fluid"
        style="width: 235px; height: auto"
      >
        <img [src]="product.image" />
        <div class="card-header bg-transparent" style="height: auto">
          <p>{{ product.title }}</p>
        </div>
        <div class="card-body">
          <dl>
            <dt>Price</dt>
            <dd>$ {{ product.price }}</dd>
            <dt>Rating</dt>
            <dd>
              <span class="bi bi-star-fill text-success"> </span>
              {{ product.rating.rate }} [{{ product.rating.count }}]
            </dd>
          </dl>
        </div>

        <div class="card-footer">
          <button class="btn btn-danger" (click)="AddToCart(product.id)">
            <span class="bi bi-cart-fill"></span>
            add to cart
          </button>
        </div>
      </div>
    </main>
  </section>
</div>
