<div class="container-fluid">
  <!-- <div class="mt-4 row">
    <div class="col">
      <h1>Electronics</h1>
      <ol>
        <li *ngFor="let items of Categories">{{ items }}</li>
      </ol>
    </div>
    <div class="col">
      <h1>selector</h1>
      <select class="form-select">
        <option *ngFor="let items of Categories">{{ items }}</option>
      </select>
    </div>
    <div class="col">
      <h1>DropDown</h1>
      <ul class="list-unstyled">
        <li *ngFor="let item of Categories">
          <input type="checkbox" name="" id="" />
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="col">
      <h1>buttons</h1>
      <div class="btn-group-vertical">
        <button class="btn btn-primary mb-1" *ngFor="let item of Categories">
          {{ item }}
        </button>
      </div>
      <div>
        <div *ngFor="let items of Categories">
          <a href="#">{{ items }}</a>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- <div class="bg-secondary text-white">
  <div class="row">
    <div class="col-3">
      <ol>
        <li *ngFor="let item of Categories">
          {{ item.categories }}
          <ul>
            <li *ngFor="let items of item.products">{{ items }}</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="col-3">
      <select class="form-select">
        <optgroup *ngFor="let items of Categories" [label]="items.categories">
          <option *ngFor="let product of items.products">{{ product }}</option>
        </optgroup>
      </select>
    </div>

    <div class="col-3">
      <details *ngFor="let items of Categories">
        <summary>{{ items.categories }}</summary>
        <ul>
          <li *ngFor="let product of items.products">
            {{ product }}
          </li>
        </ul>
      </details>
    </div>

    <div class="col-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Products">
            <td>{{ item.Name }}</td>
            <td>{{ item.Price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid">
  <div class="row">
    <div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col-3">Preview</th>
              <th scope="col-3">Index</th>
              <th scope="col-3">First</th>
              <th scope="col-3">Last</th>
              <th scope="col-3">Even</th>
              <th scope="col-3">Odd</th>
            </tr>
          </thead>
          <tbody>
            <tr
              [class.even]="e"
              [class.odd]="o"
              *ngFor="
                let item of Product;
                let i = index;
                let f = first;
                let l = last;
                let e = even;
                let o = odd
              "
            >
              <td scope="col-3">
                <img
                  [src]="item.image"
                  alt=""
                  width="150"
                  height="150"
                  class="figure-img m-2"
                />
              </td>
              <td>{{ i }}</td>
              <td>{{ f }}</td>
              <td>{{ l }}</td>
              <td>{{ e }}</td>
              <td>{{ o }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="table-responsive col-4">
      <button class="btn btn-primary" (click)="UpdateClick()">update</button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sl.No</th>
            <th scope="col">Users</th>
            <th scope="col">Age</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index; trackBy: TrackChange">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
